body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

textarea{
	resize: none;
}

table{
	width: 100%;
}

th{
	background: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

td{
	padding: 20px;
}

table,td,th{
	border: 1px solid #273b47;
	border-collapse: collapse;
}

input, textarea{
	outline: 0;
}

input:focus,
textarea:focus{
	background: lightgray;
}

.contenedor{
	width: 800px;
	margin: auto;
	position: relative;
}

.background{
	background-image:  url('../images/background.png');
	background-size: cover;
}

.contenedor-guitarra-b{
	padding-left: 20px;
}

.contenedor-guitarra-c{
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.button{
	border-radius: 12px;
	color: white;
	border: none;
	padding: 7px 12px;
	font-size: 18px;
	background: #fe344e;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
	text-decoration: none;
}


.titulo{
	font-family: 'Montserrat', sans-serif;
	font-size:  70px;
	margin-bottom: 0;
	margin-top: 70px;
}

.titulo span{
	text-decoration: underline;
}


.title-a{
	font-size: 24px;
	margin-top: 0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.title-c{
	font-size: 50px;
}

.guitarra{
	margin: 10px 10px 30px 10px;
	padding: 10px;
	border: 1px solid #1F313C;
	border-radius: 8px;
}

.guitarra ol{
	padding: 0;
}

.guitarra.c{
	height: 190px;
}

.guitarras{
	color: #1F313C;
	margin-bottom: 60px;
}

.guitarras h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.portada{
	color: white;
	padding: 20px;
	height: 500px;
}

.portada button{
	margin-bottom: 70px;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0px;
}

.menu a{
	color: white;
	text-decoration: none;
}

.menu li{
	display: inline-block;
	margin-left: 15px;
}

.menu li:before{
	content: '»';
	font-size: 24px;
	line-height: 20px;
	color: white;
}

.logotipo{
	display: inline-block;
	margin-left: 0px;
}

.derecha{
	float: right;
	position: relative;
    top: -127px;
}

.izquierda{
	float: left;
	position: relative;
}

.header{
	position: relative;
}

.footer{
	background: #273b47;
	padding: 30px 0px;
}

.contacto{
	display: flex; /*http://flexboxfroggy.com/#es*/
	width: 200px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.footer .contenedor{
	display: flex; /*http://flexboxfroggy.com/#es*/
	justify-content: space-between;
}

.formulario{
	display: flex; /*http://flexboxfroggy.com/#es*/
	width: 500px;
	color: white;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col2 .button{
	margin-top: 15px;
}

.intereses label{
	font-size: 12px;
}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}

.sexo{
	margin-top: 10px;
}

.tabla{
	margin: 50px 0;
}